.buttons_checkbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
}

.text_center {
  text-align: center;
}
