.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;

  > *:not(:last-child) {
    margin-right: 15px;
  }

  > *:first-child {
    flex-basis: 20%;
  }
  > *:not(:first-child) {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 530px) {
  
  .filters {
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 420px) {
  

  .filters__form {
    justify-content: center;
  }

  .select-label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .sort-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 20px;
  }
}


