#comments {
  margin-top: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(234, 242, 245, 0.8);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_favorite {
  border: 3px solid rgb(164, 234, 164);
}

.card__interface {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.card__icon {
  width: 20px;
  height: 20px;
}
